

networks:
  postgres_compose:

volumes:
    postgres:
    pgadmin:


services:
  postgres:
    image: postgres:16
    env_file:
      - ./variables.env
    volumes:
       - postgres:/data/postgres
       - ./backups:/app/backups:z
       - ./scripts:/app/scripts:z
    networks:
      - postgres_compose
    restart: always
    deploy:
      restart_policy:
          condition: none
      mode: replicated
      replicas: 1
  pgadmin:
    image: dpage/pgadmin4:9
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
       - pgadmin:/var/lib/pgadmin
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "10010:80"
    networks:
      - postgres_compose
    restart: unless-stopped
    deploy:
      mode: replicated
      replicas: 1
  postgresus:
    container_name: postgresus
    image: rostislavdugin/postgresus:latest
    ports:
      - "10011:4005"
    volumes:
      - ./postgresus-data:/postgresus-data:z
    restart: unless-stopped
    networks:
      - postgres_compose